@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* HOMEPAGE */
.homepage {
  height: 100vh;
  --x: calc(var(--posX, 0) * 1px);
  --y: calc(var(--posY, 0) * 1px);
  background-image: linear-gradient(115deg, #c1f6ed, #02353c),
    radial-gradient(
      90% 100% at calc(50% + var(--x)) calc(0% + var(--y)),
      #c1f6ed,
      #02353c
    ),
    radial-gradient(
      100% 100% at calc(80% - var(--x)) calc(0% - var(--y)),
      rgb(250, 255, 0),
      #02353c
    ),
    radial-gradient(
      150% 210% at calc(100% + var(--x)) calc(0% + var(--y)),
      #449342,
      rgb(0, 10, 255)
    ),
    radial-gradient(
      100% 100% at calc(100% - var(--x)) calc(30% - var(--y)),
      rgb(255, 77, 0),
      #c1f6ed
    ),
    linear-gradient(60deg, rgb(255, 0, 0), #3fd0c9);
  background-blend-mode: overlay, overlay, difference, difference, difference,
    normal;
  background-repeat: no-repeat;
  background-size: cover;
}

.homepage .container .row .col-md-6 h1 {
  font-size: 50px;
}
.homepage .navbar {
  font-family: "Poppins", sans-serif;
}

.homepage h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  color: #c1f6ed;
  text-shadow: 6px 2px black;
}

.homepage .btn {
  font-family: "Poppins", sans-serif;
  background-color: #02353c; /* Warna latar belakang hijau */
  color: white; /* Warna teks */
  text-align: center; /* Posisi teks */
  text-decoration: none; /* Menghilangkan garis bawah teks */
  display: inline-block; /* Membuat tombol agar sejajar dengan elemen lain */
  font-size: 16px; /* Ukuran font */
  cursor: pointer; /* Mengubah cursor menjadi pointer ketika mouse berada di atas tombol */
  border: none; /* Menghilangkan border */
  border-radius: 5px; /* Membulatkan sudut */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Menambahkan bayangan: horizontal offset, vertical offset, blur radius, spread radius, warna */
  transition: 0.3s; /* Menambahkan efek transisi untuk hover */
}

.homepage .btn:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3); /* Mengubah bayangan ketika di-hover */
  padding-right: 30px;
  padding-left: 30px;
}

/* PAGE KALKULATOR HEAT INDEX*/ 
.kalkulatorHeatIndex {
    background: #02353c;
    background: linear-gradient(90deg,#02353c 0%, #c1f6ed 100%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.kalkulatorHeatIndex .container h2, label, input{
    color: whitesmoke;
}

.kalkulatorHeatIndex .btn {
    font-family: "Poppins", sans-serif;
    background-color: #02353c; /* Warna latar belakang hijau */
    color: white; /* Warna teks */
    text-align: center; /* Posisi teks */
    text-decoration: none; /* Menghilangkan garis bawah teks */
    display: inline-block; /* Membuat tombol agar sejajar dengan elemen lain */
    font-size: 16px; /* Ukuran font */
    cursor: pointer; /* Mengubah cursor menjadi pointer ketika mouse berada di atas tombol */
    border: none; /* Menghilangkan border */
    border-radius: 5px; /* Membulatkan sudut */
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3); /* Menambahkan bayangan: horizontal offset, vertical offset, blur radius, spread radius, warna */
    transition: 0.3s; /* Menambahkan efek transisi untuk hover */
  }
  
  .kalkulatorHeatIndex .btn:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.9); /* Mengubah bayangan ketika di-hover */
  }

  .kalkulatorHeatIndex .table {
    border-radius: 20px;
  }

  .kalkulatorHeatIndex .table thead tr:first-child th {
    border-bottom: 2px solid white; /* Adjust thickness and style as needed */
    border-top: none;
  }
  